*, *:after, *:before {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,p, textarea{
  margin:0;
  padding:0;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #4990e2;
}

textarea {
  font-family: inherit;
}

body {
  font-family: "PT Sans";
  color: #333;
  margin: 0;
  padding: 0;
}

p, .statement textarea, .annotation h5 {
  font-family: "PT Serif";
  font-weight: 400;
}

.annotation h5 {
  font-style: italic;
  font-size: 18px;
}

.annotation h4 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 24px;
}

.annotation h4 a {
  text-transform: none;
  letter-spacing: 0;
}

.initiator-background, .responder-background {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 50%;
}

.initiator-background {
  left: -1px;
  background-color: #eb6302;
}

.responder-background {
  right: -1px;
  background-color: #4965e2;
}


@-webkit-keyframes notify {
  0% { top: -100px; }
  10%, 90% { top: 0px; }
  100% { top: -100px; }
}
@keyframes notify {
  0% { top: -100px; }
  10%, 90% { top: 0px; }
  100% { top: -100px; }
}

.notification {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-weight: 600;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  z-index: 10;
  -webkit-animation: notify 3s;
  animation: notify 3s;
}

.main-header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index: 9;
  width:100%;
  height:60px;
  background-color: white;
  padding: 5px 10px 5px 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.main-header .logo {
  float: left;
  height: 100%;
  width: auto;
}

.main-header .auth {
  height: 100%;
  float:right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.main-header button {
  background-color: #4965e2;
  border: none;
  border-radius: 3px;
  padding:5px 10px;
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
}

.main-header button:hover{
  cursor: pointer;
  background-color: #6D84E8;
}

.debate {
  padding-top: 95px; /* 60px + 35px */
}

.position-statements {
  position: relative;
  height:150px;
  margin-bottom: 10px
}

.position-statements .position-statement {
  width: 50%;
  position: absolute;
}

.position-statements .advice {
  margin-top: 35px;
  padding:0 15px;
  text-align: left;
  color: rgba(0,0,0,0.5);
}

.position-statements .advice p {
  font-family: "PT Sans";
}

.position-statements .advice li {
  margin-bottom: 5px;
}

.position-statements .position-statements-vs {
  font-family: "PT Serif";
  font-style: italic;
  color: #333;
  background-color: white;
  text-align: center;
  font-size: 24px;
  padding-top: 9px;
  padding-right: 4px;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -27px;
  margin-left: -27px;
  z-index:3;
  border:2px solid white;
}

.initiator-position-statement {
  color: #eb6302;
  text-align: right;
  padding-right: 60px;
  left: 0;
}


.responder-position-statement {
  color: #4965e2;
  text-align: left;
  padding-left: 60px;
  right: 0;
}

.position-statement h3,
.position-statement .editor {
  min-height: 150px;
  font-size: 42px;
  background-color: white;
  box-shadow: 15px 15px 0 0 rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.position-statement h3 {
  padding: 0 35px; /*padding subtracts width of singlequote*/
}

.position-statement h3.ghost {
  padding: 0 45px;
}

.position-statement .editor {
  padding: 0 45px;
  position: relative;
}

.position-statement .editor footer {
  text-align: left;
  left: 45px;
  right: 45px;
}

.position-statement .editor textarea {
  resize: none;
  font-weight: 600;
  padding-bottom: 0;
}

.position-statement .editor textarea::-webkit-input-placeholder {
  font-weight: 600;
}

.position-statement h3 span {
  display: block;
  width: 100%;
}

.position-statement h3 span:before {
  content:"'";
}

.position-statement h3 span:after {
  content:"'";
}

.position-statement h3.ghost {
  background-color: rgba(0,0,0,0.15);
  box-shadow: none;
  color: white;
}

.position-statement h3.ghost span:before,
.position-statement h3.ghost span:after {
  content: ""
}

.annotation-wrap {
  text-align: center;
}

.annotation {
  display: inline-block;
  background-color: white;
  padding: 20px;
  width: 420px;
  margin: 60px 0;
}

.statement-content {
  background-color: white;
  box-shadow: 15px 15px 0 0 rgba(0,0,0,0.15);
  padding: 18px;
}

.statement-content p, .statement-content textarea {
  text-align: justify;
  margin-bottom: 10px;
}

.statement-content footer,
.editor footer {
  font-size: 12px;
  color: #939393;
}

.statement-content footer *+*,
.editor footer *+* {
  margin-left: 35px;
}

.statement {
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.statement-content-wrap {
  max-width: 610px;
  width: 50%;
  display: inline-block;
  position: relative;
  padding-right: 35px;
  padding-left: 35px;
}

.initiator-statement .statement-content-wrap {
  right: 25%;
}

.responder-statement .statement-content-wrap {
  left: 25%;
}

.statement * {
  text-align: left;
}

.new-statement {
  position: relative;
  z-index: 2;
  min-height: 270px;
}

.new-statement .statement-content {
  padding-bottom: 11px;
  position: relative;
}

.new-statement .statement-content textarea {
  min-height: 150px;
}

.editor textarea {
  width: 100%;
  resize: vertical;
  border: none;
  font-size: inherit;
  padding-bottom: 35px;
  margin-bottom: 0;
}

.editor textarea:focus {
  outline: none;
}

.editor textarea::-webkit-input-placeholder {
  color: #AAA;
}

.new-statement footer,
.editor footer {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}


.new-statement footer button,
.editor footer button,
.main-header .new-debate-link {
  display: inline-block;
  border: none;
  background: none;
  color: #4990e2;
  padding: 10px 15px;
  font-size: 16px;
  text-align: center;
}

.main-header .new-debate-link {
  margin: 5px 0 5px 15px;
  float:right;
}

.main-header .new-debate-link:hover,
.new-statement footer button:hover,
.editor footer button:hover {
  cursor: pointer;
  background-color: rgba(73, 144, 226, 0.2);
}

.new-statement footer button,
.editor footer button {
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 90px;
  margin-left: -45px;
}

.author {
  min-height: 70px;
  margin-bottom: 15px;
  color: white;
}

.author img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: 4px solid white;
  box-shadow: 5px 5px 0 0 rgba(0,0,0,0.15);
  float: left;
  margin-right: 15px;
}

.author h4 {
  font-size: 24px;
  padding-top: 8px;
}

.author h5 {
  font-size: 18px;
  font-weight: 400;
}

.author:after {
  content: "";
  clear: both;
}

.instruction {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  max-width: 600px;
  width: 50%;
  height: 125px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instruction span {
  text-align: center;
  display:block;
}

.initiator-statement .instruction {
  left: 50%;
  padding-left: 50px;
  padding-right: 50px;
}

.responder-statement .instruction {
  right: 50%;
  padding-left: 50px;
  padding-right: 50px;
}

.instruction:after {
  content: "";
  position: absolute;
  top: 18px;
  border-left: 10px solid white;
  border-bottom: 10px solid white;
  width: 89px;
  height: 89px;
}

.initiator-statement .instruction:after {
  left: 44px;
  transform: rotate(45deg);
}

.responder-statement .instruction:after {
  right: 44px;
  transform: rotate(225deg);
}

.instruction:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  border-top:10px solid white;
  border-bottom:10px solid white;
}

.initiator-statement .instruction:before {
  left: 88px;
  right: 35px;
  border-right:10px solid white;
}

.responder-statement .instruction:before {
  left: 35px;
  right: 88px;
  border-left:10px solid white;
}

.position-statements+.statement{
  margin-top:35px
}

@media screen and (max-width: 1200px){
  .position-statements {
    height: 110px;
  }
  .position-statement h3,
  .position-statement .editor {
    font-size: 26px;
    min-height: 110px;
  }
  .initiator-statement .instruction span {
    padding-left: 30px;
  }
  .responder-statement .instruction span {
    padding-right: 30px;
  }
}

@media screen and (max-width:800px) {
  body {
    background-color: #333;
  }
  .main-header .logo {
    display: none;
  }
  .main-header .auth {
    float: none;
    font-size: 14px;
    justify-content: center;
  }
  .debate {
    padding-top: 62px;
  }
  .author {
    min-height: 50px;
  }
  .author img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }
  .author h4 {
    padding-top: 4px;
    font-size: 18px;
  }
  .author h5 {
    font-size: 14px;
  }
  .instruction {
    display:none;
  }
  .initiator-background, .responder-background {
    display: none;
  }
  .statement {
    padding-top: 20px;
    padding-bottom: 35px; 
    margin-bottom: 2px;
    min-height: 0;
    height: auto;
  }
  .statement .statement-content-wrap {
    position: static;
    padding: 0 20px;
  }
  .statement .statement-content-wrap {
    width: 100%;
  }
  .initiator-statement {
    background-color: #eb6302;
  }
  .responder-statement {
    background-color: #4965e2;
  }
  .annotation-wrap {
    padding:2px 20px;
  }
  .annotation {
    margin: 0 0;
    width: 100%;
  }
  .annotation h4 a {
    font-size: 20px;
  }
  .position-statements {
    height: auto;
    margin-bottom: 0;
  }
  .position-statements .position-statement {
    color: white;
    position: relative;
    width: 100%;
    text-align: center;
  }
  .position-statements .position-statements-vs {
    top: auto;
    border:2px solid #333;
  }
  .position-statements-vs + .position-statement{
    margin-top:2px;
  }
  .position-statements .position-statement h3,
  .position-statements .position-statement .editor {
    position: relative;
    font-size: 20px;
    min-height: 90px;
    height: auto;
    box-shadow: none;
    padding: 35px 20px;
  }
  .position-statements .position-statement h3.ghost {
    font-weight: 100;
    color:rgba(0,0,0,0.4);
  }
  .position-statements .position-statement .editor textarea {
    min-height: 56px;
  }
  .position-statements .position-statement .editor footer {
    left: 20px;
    right: 20px;
  }
  .position-statements .position-statement .editor footer button {
    left: auto;
    right: 0;
  }
  .position-statements .initiator-position-statement {
    padding-right: 0
  }
  .position-statements .responder-position-statement {
    padding-left: 0
  }
  .position-statements .initiator-position-statement h3 {
    background-color: #eb6302;
  }
  .position-statements .responder-position-statement h3 {
    background-color: #4965e2;
  }
  .position-statements .advice {
    color: rgba(255,255,255,0.5);
  }
  .position-statements+.statement{
    margin-top:2px;
  }
}